name: Acquire license activation file

on: workflow_dispatch

jobs:
  getActivationFile:
    name: Acquire license activation file
    runs-on: ubuntu-latest
    steps:     
      - name: Get license activation file
        id: getLicenseActivationFile
        uses: game-ci/unity-request-activation-file@v2
        
      - name: Expose file as artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.getLicenseActivationFile.outputs.filePath }}
          path: ${{ steps.getLicenseActivationFile.outputs.filePath }}
