name: Lint Code Base

on:
  workflow_dispatch:
  
  pull_request:
    branches:
      - dev
      
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_CSHARP: true
          FILTER_REGEX_INCLUDE: src/GitActions Project/Assets/CodeBase/.*
          #FILTER_REGEX_EXCLUDE: .*.meta
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
